/*INICIO HEADER*/

/*FIN HEADER*/

.tittle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fcd469;
}

.text {
    padding-left: 50px;
    font-size: 28px;
}

.btn {
    background-color: #d5b459;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 50px;
}

.btn:hover {
    background-color: #5c4f2a;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;

}

.content {
    background-color: #f6e1a9;
}


.valores>table {
    display: flex;
    font-size: 20px;
    margin-top: 30px;
}

th,
td {
    padding: 2px 10px;
}

th {
    font-size: 25px;
}

.dinero_gasto, .dinero_ingreso {
    color: red;
}

td a {
    margin: 0px 10px;
    color: black;
}